.lty-lottery-product-summary {
    float: left;
    width: 100%;
}

.lty-clear{
    clear:both;
}

.lty-lottery-product-summary p {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 0;
}

.lty-lottery-product-summary .lty-winner-message {
    color: #358014;
}

.lty-lottery-product-summary .lty-lose-message {
    color: #f00;
}

.lty-lucky-dip-button {
    margin-bottom:15px !important;
}

.lty-lottery-time-left-label-shop-page {
    display: block;
    width: 100%;
    margin-bottom: 5px;
    padding: 0;
}

.lty-lottery-form, 
.lty-lottery-date-ranges {
    float: left;
    width: 100%;    
}

.lty-lottery-date-ranges {
    margin-bottom: 10px;
}

.lty-lottery-date-ranges .lty-lottery-countdown-timer {
    display: block;
    clear: both;
    width: 100%;
    padding: 0;
    margin-bottom: 15px;
}

.lty-lottery-countdown-timer .lty-lottery-timer {
    float: left;
    width: 25%;
    margin: 0;
    padding: 0;
    text-align: center;
}

.lty-lottery-date-ranges .lty-lottery-start-time-label {
    display: block;
    float: left;
    width: 100%;
    margin-top: 10px;
}

.lty-lottery-timer #lty_lottery_days,
.lty-lottery-timer #lty_lottery_hours,
.lty-lottery-timer #lty_lottery_minutes,
.lty-lottery-timer #lty_lottery_seconds {
    font-size: 18px;
    font-weight: 600;
}


/* Product Badge design */

.lty-badge {
    position: absolute;
    padding: 10px;
    margin: 0 !important;
    color: #fff;
    font-size: 1em;
    font-weight: 700;
    text-align: center;
    font-size: .857em;
    line-height: 3.236;
    z-index: 9;
    left:0;
}

.lty-badge img {
    display: block;
    width: 24px !important;
    height: 24px !important;
    margin:0 !important;
}

/* Shop Page Timmer */

.lty-shop-timer-wrapper {
    width: 100%;
    padding: 0.5em 0;
    margin: 10px 0 20px 0;
    overflow: hidden;    
}

.lty-shop-timer-wrapper .lty-shop-timer-container {
    clear: both;
    width: 100%;
    padding: 0px 2px;
    text-align: center;
}

.lty-shop-timer-wrapper .lty-shop-timer-container .lty-shop-timer-section {
    display: block;
    position: relative;
    width: 22.5%;
    float: left;
    font-size: 75%;
    text-align: center;    
}

.lty-shop-timer-section:before {
    display: block;
    position: absolute;
    right: 0;
    top: 10px;
    content: '';
    width: 1px;
    height: 15px;
    background: #000;
}

.lty-shop-timer-section:last-child:before {
    content: '';
    width: 0;
    height: 0;
}

.lty-watchlist-wrapper {
    clear: both;
    width: 100%;
}

.lty-frontend-table {
    width: 100%;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
}

.lty-frontend-table thead {
    background: #f7f7f7;
}

.lty-frontend-table thead th {
    padding: 15px;
    color: #333;
    background: #f7f7f7;
    border: none;
    text-transform: capitalize;
    font-size: 16px;
    text-align: left;
    vertical-align: middle;
    word-break: break-all;
}

.lty-frontend-table tbody tr:nth-child(2n) {
    background: #fafafa;
}

.lty-frontend-table tbody td {
    padding: 15px;
    color: #666;
    background: none;
    border: none;
    font-size: 14px;
    text-align: left;
    vertical-align: middle;
    word-break: break-all;
}

.lty-frontend-table tbody td img {
    width: 50px;
    height: auto;
    margin: auto;
}

.lty-frontend-table tbody td a {
    color: #00f;
    font-size: 14px;
    text-decoration: none;
}

.lty-frontend-table tbody td a:hover {
    text-decoration: underline;
}

.lty-frontend-table tbody td span {
    color: #f00;
    font-size: 14px;
}

.lty-frontend-table tbody td .lty-lottery-remove-watchlist {
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 0;
    color: #fff;
    background: none;
    border-radius: 5px;
    border: none;
    box-shadow: none;
    font-weight: 600;
}

.lty-frontend-table tbody td .lty-lottery-remove-watchlist span {
    margin-right: 5px;
    color: #f00;
    font-size: 30px;    
}

.lty-frontend-table tfoot {
    border: none;
    box-shadow: none;
}

.lty-frontend-table tfoot td {
    padding-right: 0;
    background: none;
    border: none;    
}

.lty-frontend-table tfoot nav {
    float: right;
    border: 0;
    clear: none;
    padding: 0;
    margin-bottom: 0;
}

.lty-frontend-table tfoot nav ul {
    margin: 0;
    list-style: none;
    border: none !important;
}

.lty-frontend-table tfoot nav ul li {
    display: inline-block;
    margin-left: 3px;
}

.lty-frontend-table tfoot nav ul li span {
    margin: 0;
    padding: 0;
}

.lty-frontend-table tfoot nav ul li a {
    display: inline-block;
    padding: 10px;
    margin: 0;
    background: #fafafa;
    border: none;
    color: #43454b;
    text-decoration: none;
}

.lty-frontend-table tfoot nav ul li .current {
    background: none;
    border: none;
}

.lty-frontend-table tfoot nav ul li .current a,
.lty-frontend-table tfoot nav ul li a:hover {
    background: #ccc;
    border: none;
    color: #000;
}


/* Lottery Dashboard Design */

.lty-dashboard-wrapper {
    margin-bottom: 20px;
}

.lty-dashboard-wrapper,
.lty-dashboard-navigation,
.lty-dashboard-contents {
    float: left;
    width: 100%;
}

.lty-dashboard-navigation nav {
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.lty-dashboard-navigation nav a {
    float:left;
    margin: 0; 
    padding: 10px 15px;
    background: none;
    border: none;
    text-decoration: none !important;
}

.lty-dashboard-navigation nav a span {
    margin-right: 5px;
}

.lty-dashboard-navigation nav .lty-current {
    background: none;
    border-bottom: none;
    font-weight: bold;    
}

.lty-dashboard-contents h3 {
    color: #000;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
}

.lty-dashboard-contents h3, 
.lty-dashboard-contents table {
    width: 95%;
    margin: 10px auto;
}

.lty-dashboard-contents {
    background: #fff;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.lty-dashboard-contents .lty-no-product-notice{
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

/* Widget Search field */

.lty-product-search label {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
}

.lty-product-search input[type='search'] {
    width: 100%;
    margin-bottom: 15px;
}

/* Lottery status */

.lty_lottery_not_started_status span,
.lty_lottery_started_status span,
.lty_lottery_failed_status span,
.lty_lottery_finished_status span,
.lty_lottery_closed_status span {
    display: block;
    float: left;
    padding: 10px;
    border-radius: 5px;
}

.lty_lottery_not_started_status span {
    background: #f8dda7;
    color: #94660c;
}

.lty_lottery_finished_status span {
    color: #2e4453;
    background: #c8d7e1;
}

.lty_lottery_failed_status span {
    color: #761919;
    background: #eba3a3;
}

.lty_lottery_started_status span {
    color: #5b841b;
    background: #c6e1c6;
}

.lty_lottery_closed_status span {
    color: #94660c;
    background: #f8dda7;
}


.lty_lottery_reload_lottery_page span{
    margin-top: 7px;
    margin-left: 5px;
    cursor: pointer;
    color: #000;
}

/* Ticket booking design */

.lty-lottery-ticket-panel {
    clear: both;
    width: 100%;
    display: block;
    margin:15px 0;
}

.lty-lottery-ticket-panel .lty-lottery-ticket-tab-wrapper {
    width: 100%;
    display: block;
    float: left;
    margin-bottom: 15px;
}

.lty-lottery-ticket-panel .lty-lottery-ticket-tab-wrapper .lty-lottery-ticket-tab {  
    float: left;
    border-radius: 0;
    padding: 0.6180469716em 1.41575em;
    margin: 0;
    text-decoration: none;
    font-weight: 600;
    text-shadow: none;
    cursor: pointer;
    box-shadow: none;
}

.lty-lottery-ticket-panel .lty-ticket-number-wrapper {
    clear: both;
    margin:0;
    padding:0;
}

.lty-lottery-ticket-panel .lty-ticket-number-wrapper {
    display:block;
    margin:0;
    padding:0;
    list-style: none;
}

.lty-lottery-ticket-panel .lty-ticket-number-wrapper ul {
    margin:0;
    padding:0;
}

.lty-lottery-ticket-panel .lty-ticket-number-wrapper ul li {
    display:block;
    list-style: none;
    width:80px;
    height: 50px;
    float:left;
    padding: 1em;
    margin-right:-1px;
    margin-bottom:-1px;
    margin-left:0;
    margin-top:0;
    text-align: center;
    cursor:pointer;
    font-size: 14px;
    white-space: nowrap;
    font-weight:600;
}

.lty-lottery-ticket-panel .lty-ticket-number-wrapper ul li:hover {
    font-weight: 600;
}


.lty-lottery-ticket-panel .lty-ticket-number-wrapper ul li.lty-booked-ticket {
    cursor: not-allowed;
    opacity: 0.5;
}

.lty-lottery-ticket-panel .lty-ticket-number-wrapper ul li.lty-processing-ticket {
    background: #c6e1c6;
    color:#5b841b;
}
.lty-lottery-ticket-container {
    display:inline-block;
    float:left;
    width:100%;
    margin:10px 0;
}
.lty-lottery-question-answer-container {
    display:inline-block;
    float:left;
    width:100%;
    margin:10px 0;
}

ul.lty-lottery-answers {
    display:inline-block;
    float:left;
    width:100%;
    margin:0;
    padding: 0;
    list-style: none;
}

ul.lty-lottery-answers li {
    display:block;
    width:100%;
    padding:10px;
    margin: 10px 0;
    background: #fff; 
    cursor: pointer;
}

/* Single product page progress bar  */ 

.lty-lottery-progress-bar,
.lty-progress-count{
    float:left;
    width:100%;
}

.lty-lottery-progress-bar,
.lty-progress-count {
    margin:5px 0;
}

.lty-progress-count {
    display: flex;
}

.lty-progress-count .lty-progress-bar-start {
    width: 33%;
    text-align: left;
    padding:0;
    margin:0;
}

.lty-progress-count .lty-progress-bar-notice {
    width: 33%;
    padding: 0px 10px;
    text-align: center;
    margin:0;
}

.lty-progress-count .lty-progress-bar-end {
    width: 33%;
    text-align: right;
    padding:0;
    margin:0;
}

.lty-progress-bar {
    height: 15px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    width: 100%;
    padding:0;
    margin: 0;
}

.lty-progress-bar span {
    display: block;
    height: 100%;
}

.lty-progress-bar span.lty-progress-fill {
    -webkit-animation: currentpledgebar 2s ease-in-out;
    -webkit-animation-fill-mode: both;
    -moz-animation: currentpledgebar 2s ease-in-out;
    animation-fill-mode: none;
    -moz-animation-fill-mode: both;
}

.lty-lottery-progress-bar .lty-progress-remaining-count {
    margin-top:5px;
}

/* Shop page progress bar  */ 

.lty-lottery-progress-bar-loop,
.lty-progress-count-loop{
    width:100%;
}

.lty-lottery-progress-bar-loop,
.lty-progress-count-loop {
    margin:5px 0;
}

.lty-progress-count-loop {
    display: flex;
}

.lty-progress-count-loop .lty-progress-bar-start {
    width: 25%;
    text-align: left;
    padding:0;
    margin:0;
}

.lty-progress-count-loop .lty-progress-bar-notice {
    width: 50%;
    padding: 0px 10px;
    text-align: center;
    margin:0;
}

.lty-progress-count-loop .lty-progress-bar-end {
    width: 25%;
    text-align: right;
    padding:0;
    margin:0;
}

.lty-progress-bar {
    height: 15px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    width: 100%;
    padding:0;
    margin: 0;
}

.lty-progress-bar span {
    display: block;
    height: 100%;
}

.lty-progress-bar span.lty-progress-fill {
    -webkit-animation: currentpledgebar 2s ease-in-out;
    -webkit-animation-fill-mode: both;
    -moz-animation: currentpledgebar 2s ease-in-out;
    animation-fill-mode: none;
    -moz-animation-fill-mode: both;
}

.lty-lottery-progress-bar-loop .lty-progress-remaining-count {
    margin-top:5px;
    text-align: left;
}

@media screen and (max-width: 768px) {

    .lty-frontend-table {
        border: 1px solid #f1f1f1;
    }

    .lty-frontend-table tbody tr {
        display: block;
    }

    .lty-frontend-table thead {
        display: none;
    }

    .lty-frontend-table tr td::before {
        float: left;
        content: attr(data-title) ": ";
        font-weight: 700;
    }
    .lty-frontend-table tfoot tr td {
        border: none;
        text-align: center !important;
    }

    .lty-frontend-table tfoot tr td nav{
        float: none;
    }

    .lty-frontend-table tfoot tr td::before {
        float: left;
        content: " ";
    }

    .lty-frontend-table tr td {
        display: block;
        border-right: 0; 
        border-bottom: 1px solid #f1f1f1;
        text-align: right !important;
    }

    .lty-frontend-table tbody td button {
        float: none;
    }

    .lty-dashboard-navigation nav {
        background: #f7f7f7;
    }

}
